@import url('https://fonts.googleapis.com/css?family=Special+Elite');
@import url('https://fonts.googleapis.com/css?family=Lancelot');
@import url('https://fonts.googleapis.com/css?family=Pompiere');
@import url('https://fonts.googleapis.com/css?family=Chelsea+Market');
@import url('https://fonts.googleapis.com/css?family=PT+Serif');
@import url("https://fonts.googleapis.com/css?family=Open+Sans:700|Playfair+Display");
h1 {
  font-family: 'Special Elite', cursive;
  font-size: 300%;
  display: inline-block;
  margin-left: 10%;
}
.titlespn {
  text-align: center;
}
p {
  font-family: 'Pompiere';
  font-size: 50px;
}
h3 {
  font-family: 'Lancelot';
  font-size: 30px;
}
.button {
    background: #000000;
    border-radius: 6px;
    cursor: pointer;
    height: 5%;
    padding: 15px 32px;
    line-height: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;
    width: 50%;
    color:#FFF;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 88%;
    font-family: 'Chelsea Market';
    font-size: 170%;
}
.button:hover {
  background: #260d0d;
    color:#b3b3b3;
}
.storyLink {
  background: #000000;
  border-radius: 6px;
  cursor: pointer;
  height: 5%;
  padding: 15px 32px;
  line-height: center;
  text-align: center;
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;
  width: 20%;
  color:#FFF;
  float: right;
  top: 60%;
  font-family: 'Chelsea Market';
  font-size: 110%;
  display: inline-block;
  margin-top: 2%;
  text-decoration: none;
}
.storyLink:hover {
  background: #260d0d;
  color:#b3b3b3;
}
.linko {
  background: #000000;
  border-radius: 6px;
  cursor: pointer;
  height: 5%;
  padding: 15px 32px;
  line-height: center;
  text-align: center;
  transition-property: background;
  transition-duration: 1s;
  transition-timing-function: linear;
  width: 20%;
  color:#FFF;
  float: left;
  top: 80%;
  font-family: 'Chelsea Market';
  font-size: 110%;
  display: inline-block;
  margin-top: 2%;
  text-decoration: none;
  margin-bottom: 2%;
  margin-left: 15px;
}
.linko:hover {
  background: #260d0d;
  color:#b3b3b3;
}
.letter {
  font-family: 'PT Serif';
  font-size: 25px;
  text-indent: 20px;
  margin-left: 10%;
  margin-right: 10%;
}
body {
  background-color: #fff9ea;
}
.linke {
  text-decoration: none;
  font-family: 'Chelsea Market';
  text-align: center;
  margin: auto;
  color: #7b91b5;
}
.linke:hover{
  color: #6379b5;
}
.yeolde {
  margin: auto;
  width: 90%;
  border: 2px solid black;
  padding: 10px;
  text-align: center;
  font-size: 120%;
}
.lik {
  color: black;
}
//noteo

* {
	user-select: none;
	transition: .3s ease;
	-webkit-font-smoothing: antialiased;
}

body {
	background-image: linear-gradient(-45deg, #EEF0F3 0%, #F6F5F3 100%);
}

.paper {
	margin: 10vh auto;
	min-width: 20vw;
	max-width: 90vh;
	min-height: 20vh;
  max-height: 130vh;
	border-radius: 4px;
	box-shadow: 0 15px 35px rgba(50, 50, 90, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);
	transition: .6s ease;
	background: white;
	text-align: center;
}

.paper:hover {
	box-shadow: 0 18px 35px rgba(50, 50, 90, 0.1), 0 8px 15px rgba(0, 0, 0, 0.07);
	transform: translateY(-1px);
}

img {
	max-width: 80%;
	max-height: 100%;
}

.poster {
	border-radius: 4px 4px 0 0;
	margin-bottom: 2vh;
}

.h1p {
	font-size: 2rem;
	color: #303336;
	letter-spacing: 1px;
	margin: 2vh 4vw;
	font-family: "Playfair Display", serif;
}

.h2p {
	font-size: .9rem;
	color: #A0A6AB;
	letter-spacing: 2px;
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
  margin-top: 10px;
	margin-bottom: 10px;
}

.hrp {
	width: 30%;
	margin-top: 3vh;
	margin-bottom: 3vh;
	border: 0;
	border-bottom: 1px double  #7c8c9c;
}

.pp {
	margin: 2vh 8vw;
	text-align: center;
	padding-bottom: 1vh;
	color: #A0A6AB;
	font-family: "Playfair Display", serif;
	font-weight: 400;
	font-size: 140%;
	line-height: 2rem;
}

.btn,
a.btn {
	display: inline-block;
	text-transform: uppercase;
	cursor: pointer;
	text-decoration: none;
	line-height: 20px;
	border-radius: 4px;
	padding: 1vh 2vh;
	letter-spacing: .02rem;
	background: #000;
	color: white;
	font-family: "Chelsea Market", sans-serif;
	font-size: 1.5rem;
	box-shadow: 0 0px 0px rgba(48, 51, 54, 0.1), 0 0px 0px transparent;
}

.btn,
a.btn:hover {
	background: #260d0d;
	box-shadow: 0 7px 14px rgba(48, 51, 54, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
	transform: translateY(-1px);
}

.btn,
a.btn:active {
	box-shadow: 0 4px 6px rgba(48, 51, 54, 0.1), 0 1px 3px rgba(0, 0, 0, 0.12);
	transform: translateY(1px);
}

.space {
	height: 4vh;
}
